.top-header{
    height: 30px;
    justify-content: space-around;
}
.site-title{
    font-size: 60px;
    font-weight: bold;
}
.medi{
    color: lightseagreen;
}
.menu-items{
    font-size: 20px;
    margin-left: 20px;
    font-weight: 500;
}

@media only screen and(max-width:688px) {
    .container{
        display: flex;
        flex-direction: column;
        padding: 10%; 
    }
    .top-header{
        display: flex;
        flex-direction: column;
       height: 60px;
       background-color: blue;
    }
}