.form-container{
    width: auto;
    height: 550px;
    background-color: lightblue;
    border-radius: 30px;
    box-shadow: 3px 2px 15px 1px lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-filied{
    border-radius: 5px;
    padding: 2px 10px;
    border: 0px;
    width: 350px;
    height: 40px;
    margin: 10px;
}
.submit-button{
    font-size: 19px;
    color: whitesmoke;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    background-color: lightseagreen;
    margin-bottom: 10px;
    padding: 3px 30px;
}
.already{
    font-size: 18px;
}
.button{
    color: whitesmoke;
    font-size: 19px;
    font-weight: bold;
    background-color: lightseagreen;
    margin: 10px;
    border: 0px;
    border-radius: 5px;
    padding: 3px 50px;
}